body{
    background-color: #343a40;
}

.search-box{
    margin: 115px 0 60px 0;
    text-align: center;
}

.search-box-imput{
    width: 400px;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
}

.search-box-button {
    height: 50px;
    color: #fff;
    background-color: #343a40; 
    border-color: #fff;
    border-radius: 8px;
    margin: 10px;
}

.search-box-button:hover{
    color: #343a40;
    background-color: #fff; 
    border-color: #343a40;
    cursor: pointer;
}

.list-links li {
    display: inline-block;    
}
.list-links a{
    border: 1px solid #fff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    height: 50px;
    color: #fff;
    background-color: #343a40;
    text-decoration: none;
}
.list-links a:hover{
    color: #343a40;
    background-color: #fff; 
    border-color: #343a40;
    cursor: pointer;
    text-decoration: none;
}

.card-body{
    height: 220px
}
.logo{
    height: 100px;
}